.systemHealthPage {
   height: 600px;
    display: flex;
    /* border: 1px solid black; */
  }
  

  .admin-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    width: 1150px;
  }
  
  .system-calls {
    flex: 1;
    padding: 10px;
  }
  
  .terminal {
    flex: 2;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
    overflow: auto;
  }
  
  .terminal-output {
    margin-bottom: 10px;
    white-space: pre-wrap; /* Enable word wrapping */
    word-wrap: break-word; /* Break long words */
  }


